* {
  font-family: "Helvetica";
  font-size: 18px;
}

#innerBody {
    max-width: 850px;
    min-width: 700px;
    margin: 0px auto;
    overflow: hidden;
    zoom: 1;
}

#top_header {
    overflow: hidden;
    zoom: 1;
}

#left_header {
    float: left;
    font-size: 36px;
}

#right_header {
    float: right;
    font-size: 22px;
}

.contents {
    margin: 45px 0px;
    overflow: hidden;
    zoom: 1;
}

.second_title {
    font-size: 28px;
    margin-bottom: 5px;
}

.description {
    float: left;
}

#self_intro_description {
    width: 70%;
}

#web_content_description {
    width: 60%;
}

#web_content_img img{
    width: 300px;
}

#web_content_img {
    float: right;
}

.description a{
    color: blue;
    text-decoration: none;
}


#avatar {
    float: right;
}

#avatar img {
    width: 225px;
}
