* {
  font-family: "Helvetica";
  font-size: 18px;
}

#innerBody {
    max-width: 850px;
    min-width: 700px;
    margin: 0px auto;
    overflow: hidden;
    zoom: 1;
}

#top_header {
    overflow: hidden;
    zoom: 1;
}

#left_header {
    float: left;
    font-size: 36px;
}

#right_header {
    float: right;
    font-size: 22px;
}

.contents {
    margin: 45px 0px;
    overflow: hidden;
    zoom: 1;
}

.inner_content {
    /* line-height: 200px; */
    /* height: 210px; */
}

.second_title {
    font-size: 28px;
    margin-bottom: 5px;
}

.description {
    float: left;
    line-height: 200px;
}




#self_intro_description {
    width: 70%;
    /* height: 200px; */
}

.description div {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#web_content_description {
    width: 60%;
}

#web_content_img img{
    width: 300px;
}

#web_content_img {
    float: right;
}

/* .description a {
    color: black;
    text-decoration: none;
} */

#avatar {
    float: left;
}

#avatar img {
    width: 225px;
}

#php_content_img {
    float: right;
}

#php_content_description {
    width: 60%;
}

#php_content_img img {
    width: 300px;
}
