* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    /* float: right; */
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
    /* padding: 20px; */
    /* background: #fff; */
}

body {
    font-family: 'Helvetica', 'Cursive', sans-serif;
    color: #333;
    background-color: #000000;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #ff0800;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* nav ul {
    list-style: none;
    background-color: #FFA07A;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #2E2E2E;
    font-weight: bold;
} */

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #00ff00;
}

#dftr {
    background-color: #eeff00;
}

#cs {
    color: #FFFFFF;
    background-color: #0004ff;
}

#koko {
    color: #FFFFFF;
    background-color: #A88932;
}

/* footer {
    text-align: center;
    padding: 10px;
    background-color: #B0E0E6;
    color: #2E2E2E;
} */

h1, h2 {
    font-family: 'Helvetica', 'Comic Sans MS', sans-serif;
}

a:hover {
    color: #556B2F;
}
