body {
    font-family: Lato, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ff61053a;
}

.header {
    font-family: Consolas, sans-serif;
}

.container {
    width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
}

header {
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
}

header p {
    color: #666;
}

section h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f8f8f8;
}

/* #name {
    clear: right;
} */

#avatar {
    width: 200px;
    height: 200px;
    display: inline;
}

#redirection {
    font-size:xx-small;
}

#name {
    color: #13294B;
}

#curr-edu {
    color: #800000;
}

.quote-desc {
    font-size: 14px;
}

.quote-dontgiveup {
    background-color: rgb(188, 223, 253);
}

.quote-dontgiveup p {
    margin-left: 10px;
    margin-right: 10px;
}

.quote-dontgiveup h2 {
    margin-left: 5px;
}

.quote-happiness {
    background-color: rgb(255, 205, 135);
}

.quote-happiness p {
    margin-left: 10px;
    margin-right: 10px;
}

.quote-happiness h2 {
    margin-left: 5px;
}

.quote-flashgames {
    background-color: rgb(255, 240, 107);
}

.quote-flashgames p {
    margin-left: 10px;
    margin-right: 10px;
}

.quote-flashgames h2 {
    margin-left: 5px;
}
